@font-face {
    font-family: 'Dot Matrix';
    src: 
        url('../fonts/002250-dot-35.ttf')
        format('truetype');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans MT', sans-serif;
}
.text--bold {
    font-weight: bold;
}
.navbar {
    background-color: rgb(0, 63, 105);
    color: white;
    padding: 10px;
    display: flex;
}
.navbar__header {
    font-size: 36px;
    margin-left: 20px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "display display display display"
        "image input output disclaimer";
    max-width: 99%;
    margin: auto;
    overflow: hidden;
}
.tile {
    padding: 20px;
}
#image {
    grid-area: image;
}
#input {
    grid-area: input;
}
#output {
    grid-area: output;
}
.section__header {
    margin-bottom: 20px;
}
.section__subheader {
    margin-bottom: 10px;
}
.section__list {
    position: relative;
    left: 20px;
    width: 490px
}
.section__list li {
    margin-bottom: 5px;
}
#print-area {
    height: 0.5in;
    width: var(--length);
    border: 1px black solid;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    grid-area: display;
}

.print--invalid {
    color: red;
}
#print {
    font-family: 'Dot Matrix', monospace;
    font-size: 5.2mm;
    position: relative;
    left: 1%;
    transform: scaleX(var(--scale));
    transform-origin: left;
}
#gap {
    display: inline;
    height: 1mm;
    width: 2in;
    border: 3px green dashed;
}
label {
    display: block;
    margin-bottom: 10px;
}